* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --black: #000000;
    --dark-blue: #0B2330;
    --blue-gray: #375361;
    --gray: #6A7981;
    --white: #ffffff;
    --yellow: #F9C600;
    --teal: #51CEBC;
    --lavender: #BD78F0;
    --orange: #FE9F28;
    --gold: #F9C600;
    --tan: #F2EDE7;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header_wrap {
    margin: 0 auto;
    padding: 0 32px 0 32px;
}
.header {
    display: flex;
    max-width: 1376px;
}

.header_logo {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 0;
    margin: 0;
}

.header_logo p {
    font-size: 0.75rem;
    line-height: 1rem;
}

.nav_menu, .header_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83px;
}

.nav_menu {
    margin: 0 141px;
    width: 618px;
}

.header_buttons {
    column-gap: 24px;
    margin: 0;
    width: 372px;
    justify-content: end;
}

.item a, .nav_item a {
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
}

.item a {
    color: var(--dark-blue);
}

.nav_item a {
    color: var(--black);
}


.select_item {
    position: relative;
    display: flex;
    column-gap: 10px;
}

.select_item::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -15px;
    width: 5px;
    height: 5px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    transform: rotate(45deg);
    cursor: pointer;
}

.three_items {
    display: flex;
    margin: 0 56px 0 50px;
    column-gap: 56px;
}

.header_btn {
    height: 54px;
    padding: 15px 30px;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 4px;
    background-color: var(--dark-blue);
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: box-shadow .35s;
}

.header_btn:hover {
    box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
}


.front_content {
    display: flex;
    width: 100%;
}

.content_box {
    padding: 154px 257px 0 147px;
}

.content_box__title {
    font-style: normal;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 4rem;
    letter-spacing: 0.0375rem;
    color: var(--dark-blue);
    width: 436px;
}

.content_box__txt {
    font-size: 1.375rem;
    line-height: 2rem;
    color: var(--blue-gray);
    width: 435px;
    margin: 26px 0 38px 0;
}

.content_box__buttons {
    display: flex;
    justify-content: start;
    column-gap: 16px;
}

.buttons {
    height: 54px;
    padding: 15px 30px;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 4px;
    color: var(--black);
    border: none;
    cursor: pointer;
    transition: box-shadow .35s;
}

.btn_start {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.btn_sales {
    color: var(--black);
    border: 1px solid var(--dark-blue);
}

.btn_start:hover, .btn_sales:hover {
    box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
}

.style_box {
    height: 886px;
    background-color: var(--yellow);
}

.img_goal {
    position: relative;
    right: 102px;
    top: 172px;
}

.img_back {
    position: relative;
    top: 230px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 1440px;
    padding: 0 32px;
    box-sizing: border-box;
    margin: 0 auto;
}

.section-1 {
    margin-top: 192px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 56px;
}

.sec1_title {
    font-style: normal;
    font-weight: normal;
    width: 547px;
    font-size: 2.625rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.02625rem;
    color: var(--dark-blue);
}

.sec1_img {
    display: grid;
    width: 1143px;
    height: 200px;
    row-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.img-grid {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.img-grid:hover {
    box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.section-2 {
    margin: 192px 0 192px;
    background-color: var(--teal);
    border-radius: 10px;
    width: 100%;
    display: flex;
}

.sec2_img {
    margin: 56px 20px 56px 0;
}

.sec2_content {
    margin-bottom: 161px;
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
}

.sec2_title p {
    width: 557px;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.02125rem;
    color: var(--dark-blue);
}

.sec2_txt {
    width: 533px;
    font-size: 1.375rem;
    line-height: 2rem;
    color: var(--dark-blue);
}

.section-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.sec3_title {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
}

.sec3_title h2 {
    font-style: normal;
    font-weight: normal;
    width: 711px;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.02125rem;
    color: var(--dark-blue);
}

.sec3_btn {
    display: flex;
    justify-content: center;
    margin-top: 113px;
}

.section-4 {
    margin: 160px 0 136px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.sec4_wrap {
    background-color: var(--lavender);
    display: flex;
    justify-content: end;
    width: 1260px;
}

.sec4_img {
    padding: 64px 0;
    position: relative;
    right: 116px;
}

.sec4_content {
    display: flex;
    flex-direction: column;
    row-gap: 39px;
    width: 100%;
    padding: 103px 128px 147px 20px;
}

.sec4_title h2 {
    font-style: normal;
    font-weight: normal;
    width: 485px;
    font-size: 2.625rem;
    line-height: 3rem;
    letter-spacing: 0.02625rem;
    color: var(--dark-blue);
}

.sec4_txt {
    width: 550px;
    font-size: 1.0625rem;
    line-height: 1.75rem;
}

.section-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 220px;
}

.sec5_wrap {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sec5_header {
    margin: 0 265px 0 116px;
    width: 1027px;
    display: flex;
    flex-direction: column;
}

.solutions {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
    color: var(--gray);
}

.sec5_title h2 {
    font-style: normal;
    font-weight: normal;
    width: 593px;
    font-size: 2.625rem;
    line-height: 3rem;
    letter-spacing: 0.02625rem;
    color: var(--dark-blue);
    margin-top: 13px;
    margin-bottom: 27px;
}

.sub_title {
    font-size: 22px;
    line-height: 32px;
    color: var(--blue-gray);
}

.sec5_content {
    width: 1260px;
    display: flex;
    flex-direction: column;
    row-gap: 121px;
}

.sec5_content__card {
    display: flex;
    justify-content: space-between;
}

.content-box_icon {
    position: relative;
    width: 40px;
    height: 40px;
}

.fa-comment-alt {
    font-size: 24px;
    padding: 10px;
    background-color: var(--lavender);
    border-radius: 50%;
}

.fa-video {
    font-size: 24px;
    padding: 10px;
    background-color: var(--teal);
    border-radius: 50%;
}

.fa-tachometer-alt {
    font-size: 24px;
    padding: 10px;
    background-color: var(--orange);
    border-radius: 50%;
}

.content-box_title {
    width: 402px;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.02125rem;
    color: var(--dark-blue);
    margin: 23px 0 25px 0;
}

.content-box_txt p {
    width: 484px;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    margin-bottom: 40px;
}

.sec5_btn_learn {
    color: var(--black);
    border: 1px solid var(--dark-blue);
    position: relative;
    top: 20px;
}

.sec5_btn_learn:hover {
    box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
}

.card_link {
    display: flex;
    column-gap: 8px;
    position: relative;
    bottom: 12px;
    right:748px;
}


.link_one a, .link_two a {
    background-color: #E7EAEB;
    padding: 5px 10px;
    border-radius: 4px;
    color: #61757E;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.075rem;
}

.link_three a {
    background-color: var(--orange);
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--dark-blue);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.075rem;
}

.section-6 {
    background-color: var(--tan);
    width: 100%;
    height: 960px;
    margin-top: 136px;
}

.sec6_title {
    margin: 96px 0 122px 122px;
}

.sec6_title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 4rem;
    letter-spacing: 0.0375rem;
    color: var(--dark-blue);
    width: 1064px;
    margin-top: 10px;
}

.sec6_title p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
    color: var(--blue-gray);
}

.sec6_content {
    margin: 0 122px 96px 122px;
    display: flex;
}

.sec6_accordion {
    border-top: 1px solid #C9316F;
    width: 100%;
    height: 484px;
}

.accordion-item {
    background-color: var(--tan);
    border: none;
}

.accordion-button {
    margin: 9px 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--dark-blue);
    text-decoration: none;
    background-color: var(--tan);
}

.accordion_subtitle {
    padding: 1rem 1.25rem;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: var(--blue-gray);
}

.accordion-body {
    padding: 1rem 1.25rem;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: var(--blue-gray);
}

.accordion-button:not(.collapsed) {
    color: var(--dark-blue);
    background-color: var(--tan);
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion-button:focus {
    box-shadow: none;
}

.more {
    position: relative;
    display: flex;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    line-height: 1.75rem;
    cursor: pointer;
}

.more a {
    text-decoration: none;
    color: var(--dark-blue);
}

.fa-long-arrow-alt-right {
    position: absolute;
    left: 110px;
    top: 22px;
}

.section-7 {
    margin: 160px 0 240px;
    display: flex;
    width: 100%;
}

.sec7_content {
    width: 678px;
    margin: 0 174px 0 148px;
    height: 418px;
}

.sec7_title p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
    color: var(--blue-gray);
    margin-top: 24px;
}

.sec7_title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.02125rem;
    color: var(--dark-blue);
    margin-top: 15px;
    margin-bottom: 33px;
}

.sec7_txt {
    margin-bottom: 36px;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: var(--blue-gray);
}

.btn_integration {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.btn_integration:hover {
    box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 17px 0 rgba(0, 0, 0, 0.75);
}

.section-8 {
    display: flex;
    margin: 0 32px 46px 32px;
    height: 584px;
}

.sec8_left {
    background-color: var(--tan);
    width: 582px;
}

.sec8_left__content {
    margin: 80px 117px;
}

.sec8left_title p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
    color: var(--blue-gray);
}

.sec8left_title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--dark-blue);
    margin-bottom: 27px;
}

.sec8left_txt {
    margin-bottom: 36px;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: var(--dark-blue);
}

.sec8_right {
    position: relative;
    width: 794px;
    background-color: var(--gold);
}

.sec8_right__content {
    margin: 80px 116px 104px;
}

.sec8_right img {
    position: absolute;
}

.sec8right_title {
    font-style: normal;
    font-weight: normal;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.02125rem;
    color: var(--black);
    margin-bottom: 80px;
}

.sec8right_profile {
    display: flex;
}

.profile_img {
    width: 80px;
    height: 80px;
}

.profile_about {
    padding: 14px 0;
    margin-left: 24px;
}

.profile_name {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-blue);
    margin: 0;
}

.profile_info {
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: #2F3F48;
    margin: 0;
}
.footer {
    background-color: var(--dark-blue);
}

.section-9 {
    max-width: 1376px;
    margin: 0 auto;
    border-bottom: 1px solid var(--blue-gray);
    display: flex;
    justify-content: center;
    padding: 53px 0 96px;
}


.sec9_content {
    width: 678px;
    text-align: center;
}

.sec9_title {
    margin-bottom: 28px;
}

.sec9_title h2 {
    color: var(--white);
    margin: 0;
}

.sec9_txt {
    color: var(--white);
    font-size: 1.0625rem;
    line-height: 1.75rem;
    margin-bottom: 40px;
}

.section-10 {
    width: 100%;
    padding: 80px 0 220px;
}

.sec10_content {
    margin: 0 auto;
    display: flex;
    column-gap: 110px;
    max-width: 1376px;
}

.footer_logo {
    margin-left: 32px;
}

.footer_info__main {
    display: flex;
    column-gap: 40px;
}

.footer_info__main p {
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
}


.block_info {
    width: 196px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.block_info p {
    cursor: pointer;
    opacity: 1;
    transition: .15s;
}

.block_info p:hover {
    opacity: 0.7;
}

.footer_info__rights {
    display: flex;
    width: 1022px;
    margin-top: 65px;
    align-items: center;
    justify-content: space-between;
}

.footer_info__rights p {
    color: #94A0A4;
    font-size: 0.875rem;
    line-height: 1.25rem;

}

.footer_icons {
    display: flex;
    column-gap: 24px;
    justify-content: end;
}

.fab {
    color: var(--dark-blue);
    border-radius: 50%;
    background-color: #94A0A4;
    padding: 9px 9px 9px 8px;
    font-size: 14px;
    width: 28px;
    height: 28px;
}

.fa-facebook-f {
    padding-left: 10px;
}